%%-*- mode: erlang -*-
{require_otp_vsn, "17"}.

{erl_opts, [
    {parse_transform, lager_transform},
    {lager_truncation_size, 4096}
]}.

{sub_dirs, ["apps/*"]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
    {pooler, ".*", {git, "git://github.com/seth/pooler", {tag, "1.4.0"}}},
    {epgsql, ".*", {git, "git://github.com/epgsql/epgsql.git", {tag, "3.0.0"}}},
    {erlport, ".*", {git, "git://github.com/hdima/erlport", "4041c0810f798cba9fa528ebca90556f0ae50645"}},
    {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.4.1"}}}
]}.
