[
    {lager, [
        {async_threshold, 50},
        {async_threshold_window, 10},
        {error_logger_hwm, 1000},
        {crash_log, "logs/crash.log"},
        {handlers, [
            {lager_console_backend, error},
            {lager_file_backend, [
                {file, "logs/error.log"},
                {level, error},
                {size, 10240000},
                {date,"$D0"},
                {count, 5}]},
            {lager_file_backend, [
                {file, "logs/info.log"},
                {level, info},
                {size, 10240000},
                {date,"$D0"},
                {count, 5}
            ]},
            {lager_file_backend, [
                {file, "logs/debug.log"},
                {level, debug},
                {size, 10240000},
                {date,"$D0"},
                {count, 5}
            ]}
        ]}
    ]},
    {qs_db, [
        {init_count, 2},
        {max_count, 3}
    ]},
    {qs_python, [
        {init_count, 2},
        {max_count, 3}
    ]}
].